.cart {
    border: 2px solid black;
    padding: 20px;
    height: 400px;
}

.cart h2 {
    text-align: center;
}

.delivery {
    padding: 0;
}

.delivery li {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}