.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

.inputs div {
    margin-bottom: 30px;
    text-align: center;
}

.inputs h2 {
    margin-top: 5px;
}



.submitBtn {
    margin-left: 170px;
    width: 120px;
    height: 60px;
    border: none;
    background: greenyellow;
    border-radius: 4%;
    margin-bottom: 5px;
}

.closeBtn {
    margin-left: 170px;
    width: 120px;
    height: 60px;
    border: none;
    background: red;
    border-radius: 4%;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}